.marksheets {
  text-align: center;
  justify-content: center;
  max-width: 90%;
  color: white;
  margin: auto;
}
.marksheets h1{
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-shadow: 0 0 7px black;
}
.card{
    background-color: transparent;
    border: none;
}
.marksheets table {
  box-shadow: 0 0 12px rgb(10, 10, 10);
  background-image: linear-gradient(45deg, #ffd7f4 0%, #c5d5f0 100%);
}
.table > :not(caption) > * > * {
  background-color: transparent;
}
.table td {
  text-align: center;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 0 4px #000437cf;
}

.table tr {
  color: aliceblue;
}
.table th {
  color: rgb(255, 255, 255);
  font-size: 24px;
  text-decoration: none;
  text-shadow: 0 0 12px black;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  box-shadow: 0 0 12px black;
  padding: 12px;
  background-blend-mode: multiply;
}
.table > tbody > tr:hover > * {
  transition: all ease in 3s;
  cursor: pointer;
  background-image: linear-gradient(-225deg, #ffe9f9 0%, #d7fffe 100%);
}

@media only screen and (max-width: 600px) {
  .table th {
    font-size: 18px;
  }
}
