{% extends 'base.html' %} {% block title %} Announcements {% endblock title %}
{% block body %}
<div class="home-klu-card">
  <div class="home-klu-card-main">
    <img
      class="home-klu-card-tokenImage"
      src="/static/images/klu.jpg"
      alt="home-klu-card"
    />
    <h2>Welcome to KL University Learnathon</h2>
    <p class="home-klu-card-description">
      We hope that you will take full advantage of this opportunity and make the
      most of your time here. We are confident that you will find this event
      both informative and enjoyable.
    </p>
    <div class="home-klu-card-extras">
      <div class="home-klu-card-price">
        <p>◘ &nbsp;Summer Term</p>
      </div>
      <div class="home-klu-card-duration">
        <p>◷ &nbsp;30/06/2023</p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row row-cols-auto">
    {% for announcement in announce %}
    <div class="col">
      <div class="announcecard card" style="width: 18rem">
        <img src="{{announcement.source}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            {{announcement.notice}}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>

{% endblock body %}
