{% extends 'base.html' %} {% block title %} Announcements {% endblock title %}
{% block body %}
<div class="home-klu-card">
  <div class="home-klu-card-main">
    <img
      class="home-klu-card-tokenImage"
      src="/static/images/klu.jpg"
      alt="home-klu-card"
    />
    <h2>Welcome to KL University Learnathon</h2>
    <p class="home-klu-card-description">
      We hope that you will take full advantage of this opportunity and make the
      most of your time here. We are confident that you will find this event
      both informative and enjoyable.
    </p>
    <div class="home-klu-card-extras">
      <div class="home-klu-card-price">
        <p>◘ &nbsp;Summer Term</p>
      </div>
      <div class="home-klu-card-duration">
        <p>◷ &nbsp;30/06/2023</p>
      </div>
    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row row-cols-auto">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/R.2211a28e0a154c4b34ff8acfb945dba1?rik=f6FJSXRuHWCodg&riu=http%3a%2f%2fwww.crestinformatics.com%2fimages%2fservices%2fweb-development.jpg&ehk=qRzbfj3J35zz1o8pAsP4UK0q2VUIIms6wuF%2fdHpsN4A%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/OIP.X0_RGix3ic9US3q8G8ZXcgHaE8?pid=ImgDet&rs=1" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/OIP.txE7QDH_CcK9kkpZdEzTagHaFE?pid=ImgDet&rs=1" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/R.2211a28e0a154c4b34ff8acfb945dba1?rik=f6FJSXRuHWCodg&riu=http%3a%2f%2fwww.crestinformatics.com%2fimages%2fservices%2fweb-development.jpg&ehk=qRzbfj3J35zz1o8pAsP4UK0q2VUIIms6wuF%2fdHpsN4A%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/R.2211a28e0a154c4b34ff8acfb945dba1?rik=f6FJSXRuHWCodg&riu=http%3a%2f%2fwww.crestinformatics.com%2fimages%2fservices%2fweb-development.jpg&ehk=qRzbfj3J35zz1o8pAsP4UK0q2VUIIms6wuF%2fdHpsN4A%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/OIP.X0_RGix3ic9US3q8G8ZXcgHaE8?pid=ImgDet&rs=1" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/OIP.txE7QDH_CcK9kkpZdEzTagHaFE?pid=ImgDet&rs=1" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/R.2211a28e0a154c4b34ff8acfb945dba1?rik=f6FJSXRuHWCodg&riu=http%3a%2f%2fwww.crestinformatics.com%2fimages%2fservices%2fweb-development.jpg&ehk=qRzbfj3J35zz1o8pAsP4UK0q2VUIIms6wuF%2fdHpsN4A%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/R.2211a28e0a154c4b34ff8acfb945dba1?rik=f6FJSXRuHWCodg&riu=http%3a%2f%2fwww.crestinformatics.com%2fimages%2fservices%2fweb-development.jpg&ehk=qRzbfj3J35zz1o8pAsP4UK0q2VUIIms6wuF%2fdHpsN4A%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/OIP.X0_RGix3ic9US3q8G8ZXcgHaE8?pid=ImgDet&rs=1" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/OIP.txE7QDH_CcK9kkpZdEzTagHaFE?pid=ImgDet&rs=1" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="https://th.bing.com/th/id/R.2211a28e0a154c4b34ff8acfb945dba1?rik=f6FJSXRuHWCodg&riu=http%3a%2f%2fwww.crestinformatics.com%2fimages%2fservices%2fweb-development.jpg&ehk=qRzbfj3J35zz1o8pAsP4UK0q2VUIIms6wuF%2fdHpsN4A%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
