{% extends 'base.html' %} {% block title %} Home {% endblock title %} 
{% block body %}
<div class="home">
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="homecont">
        <h1>Welcome to <br>
        <img src="https://th.bing.com/th/id/R.5d6247728e7db4cc6c5aed648b0dc5dd?rik=opp5xkzx56h%2b2A&riu=http%3a%2f%2funiversityinnovation.org%2fimages%2f5%2f5d%2fKLLogo.png&ehk=yMZ15VkUNdltfWMsgZMA%2b0HPKqdm0m9xB5oCEtiUyAo%3d&risl=&pid=ImgRaw&r=0" width="300"
          /> <span class="hacktitle"> <br>Hackathon!</span><br>
        <span id="element"></span>
        </h1>
        
      </div>
    </div>
    <div class="col">
      <img class="floating" src="./static/images/123.svg" />
      <!-- <img class="floating" src="./static/images/homepic.png" /> -->
    </div>
  </div>
</div>
</div>

<footer>
  <div>
    <h1>Made with ❤️ by <a href="#">@KL CSE-H Department</a></h1>
  </div>
  <!-- <ul>
    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
  </ul> -->
</footer>
<script>
    var typed = new Typed('#element', {
      strings: ['Code Quicker', 'Stand First!', 'Enhance UI', 'Optimize Server', 'Get rewards'],
      typeSpeed: 50,
    });
</script>
{% endblock body %}
