{% extends 'base.html' %} {% block title %} Leaderboard {% endblock title %} 
{% block body %}
<div class="marksheets leaderboard">
  <h1><i class="fa-solid fa-graduation-cap fa-flip" style="color: #ffffff;"></i> LEADERBOARD</h1>
  <div class="table-responsive card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">University ID</th>
          <th scope="col">Name</th>
          <th scope="col">Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2100032351</td>
          <td>Raja</td>
          <td>46</td>
        </tr>
        <tr>
          <td>2100032331</td>
          <td>XYZ</td>
          <td>50</td>
        </tr>
        <tr>
          <td>2100032331</td>
          <td>XYZ</td>
          <td>50</td>
        </tr>
        <tr>
          <td>2100032331</td>
          <td>XYZ</td>
          <td>50</td>
        </tr>
        <tr>
          <td>2100032331</td>
          <td>XYZ</td>
          <td>50</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}
