{% extends 'base.html' %} {% block title %} Marksheet {% endblock title %} 
{% block body %}
<div class="marksheets">
  <h1>Marksheets tab</h1>
  <div class="table-responsive card">
    {% if user.is_authenticated %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Review</th>
          <th scope="col">University ID</th>
          <th scope="col">Name</th>
          <th scope="col">Marks</th>
          <th scope="col">Re-Marks</th>
        </tr>
      </thead>
      <tbody>
        
        {% for i in marks %}
        <tr>
        <td>{{i.review_no}}</td>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>{{i.review_marks}}</td>
        <td>{{i.remarks}}</td>
      </tr>
        {% endfor %}
        
          
      </tbody>
    </table>
    {% endif %}
    {% if not user.is_authenticated%}
    <div class="table-responsive card">
      <h1>Please login to view marks</h1>
    </div>
    {%endif%}
  </div>
</div>
{% endblock body %}
