<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
    <form action="" method="post">
        {% csrf_token %}
        
        <tr>
            <th>ID</th>
            <th>Marks</th>
        </tr>
        
        {% for student in students %}
        <tr>
            <td>{{student.id}}</td>
            <td>
                <input type="number" name="{{student.id}}" value=0 >
            </td>
        </tr>
        {% endfor %}
        <button type="submit">submit</button>
    </form>
</table>
</body>
</html>