<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="{% url 'handle_review_room' %}" method="post">
        {% csrf_token %}
        <label for="room">Choose a Room</label>
        <select name="room" id="room">
            {% for room_obj in rooms %}
                <option value="{{ room_obj.room_no }}">{{ room_obj.room_no }}</option>
            {% endfor %}
        </select>
        <label for="session">Choose a Session</label>
        <select name="session" id="session">
            {% for session_obj in sessions %}
                <option value="{{ session_obj.session_no }}">{{ session_obj.session_no }}</option>
            {% endfor %}
        </select>
        <button type="submit">proceed</button>
    </form>
</body>
</html>
