{% extends 'base.html' %} {% block title %} Marksheet {% endblock title %} 
{% block body %}
<div class="marksheets">
  <h1>Attendance tab</h1>
  <div class="table-responsive card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Review</th>
          <th scope="col">University ID</th>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        
        {% for i in att %}
        <tr>
        <td>{{i.session}}</td>
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        {% if i.status == True %}
             <td>present</td>
        {% endif %}
        {% if i.status == False %}
             <td>absent</td>
        {% endif %}
      </tr>
        {% endfor %}
        
          
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}
