<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="./static/stylesheets/base.css" />
    <link rel="stylesheet" href="./static/stylesheets/home.css" />
    <link rel="stylesheet" href="./static/stylesheets/announcement.css" />
    <link rel="stylesheet" href="./static/stylesheets/review.css" />
    <script
      src="https://kit.fontawesome.com/1deaab12ff.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <img src="https://th.bing.com/th/id/R.5d6247728e7db4cc6c5aed648b0dc5dd?rik=opp5xkzx56h%2b2A&riu=http%3a%2f%2funiversityinnovation.org%2fimages%2f5%2f5d%2fKLLogo.png&ehk=yMZ15VkUNdltfWMsgZMA%2b0HPKqdm0m9xB5oCEtiUyAo%3d&risl=&pid=ImgRaw&r=0" alt="KL University Logo">
      <h1>Welcome to KL CSE LEARNATHON</h1>
      <span>Welcome User</span>
    </header>
    <homenav class="homenav">
      <ul class="homenavlist">
        <a href="/" class="homenavlink active-link">
          <i class="fa-solid fa-house-user" style="color: #ffffff"></i>
          <span class="homenavname">Home</span>
        </a>

        <a href="/marksheets" class="homenavlink">
          <i class="fa-solid fa-file-circle-check" style="color: #ffffff"></i>
          <span class="homenavname">Marksheet</span>
        </a>

        <a href="/timetable" class="homenavlink">
          <i class="fa-solid fa-stopwatch" style="color: #ffffff"></i>
          <span class="homenavname">Timetable</span>
        </a>

        <a href="/announcements" class="homenavlink">
          <i class="fa-solid fa-bullhorn" style="color: #ffffff"></i>
          <span class="homenavname">Announcements</span>
        </a>

        <a href="/reviews" class="homenavlink">
          <i class="fa-solid fa-book" style="color: #ffffff"></i>
          <span class="homenavname">Reviews</span>
        </a>

        <a
          href="#"
          class="homenavlink"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
        >
          <i class="fa-solid fa-lock fa-flip"></i>
          <span class="homenavname">Login</span>
        </a>
      </ul>
    </homenav>

    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="loginModal"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="" class="login__form">
            <h1 class="login__title">Learnathon portal</h1>

            <div class="login__content">
              <div class="login__box">
                <i class="fa-solid fa-circle-user fa-flip"></i>
                <div class="login__box-input">
                  <input
                    type="email"
                    required
                    class="login__input"
                    placeholder=" "
                  />
                  <label for="" class="login__label">Email</label>
                </div>
              </div>

              <div class="login__box">
                <i class="fa-solid fa-key fa-flip"></i>
                <div class="login__box-input">
                  <input
                    type="password"
                    required
                    class="login__input"
                    id="login-pass"
                    placeholder=" "
                  />
                  <label for="" class="login__label">Password</label>
                  <i class="ri-eye-off-line login__eye" id="login-eye"></i>
                </div>
              </div>
            </div>

            <div class="login__check">
              <div class="login__check-group">
                <input type="checkbox" class="login__check-input" />
                <label for="" class="login__check-label">Remember me</label>
              </div>

              <a href="#" class="login__forgot">Forgot Password?</a>
            </div>

            <button type="submit" class="tooltip-btn-hover color-1">
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="comp">{% block body %} {% endblock body %}</div>
    <div id="bg-wrap">
      <svg viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
      <defs>
      <radialGradient id="Gradient1" cx="50%" cy="50%" fx="0.441602%" fy="50%" r=".5"><animate attributeName="fx" dur="34s" values="0%;3%;0%" repeatCount="indefinite"></animate><stop offset="0%" stop-color="rgba(255, 0, 255, 1)"></stop><stop offset="100%" stop-color="rgba(255, 0, 255, 0)"></stop></radialGradient>
      <radialGradient id="Gradient2" cx="50%" cy="50%" fx="2.68147%" fy="50%" r=".5"><animate attributeName="fx" dur="23.5s" values="0%;3%;0%" repeatCount="indefinite"></animate><stop offset="0%" stop-color="rgba(255, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(255, 255, 0, 0)"></stop></radialGradient>
      <radialGradient id="Gradient3" cx="50%" cy="50%" fx="0.836536%" fy="50%" r=".5"><animate attributeName="fx" dur="21.5s" values="0%;3%;0%" repeatCount="indefinite"></animate><stop offset="0%" stop-color="rgba(0, 255, 255, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 255, 0)"></stop></radialGradient>
      <radialGradient id="Gradient4" cx="50%" cy="50%" fx="4.56417%" fy="50%" r=".5"><animate attributeName="fx" dur="23s" values="0%;5%;0%" repeatCount="indefinite"></animate><stop offset="0%" stop-color="rgba(0, 255, 0, 1)"></stop><stop offset="100%" stop-color="rgba(0, 255, 0, 0)"></stop></radialGradient>
      <radialGradient id="Gradient5" cx="50%" cy="50%" fx="2.65405%" fy="50%" r=".5"><animate attributeName="fx" dur="24.5s" values="0%;5%;0%" repeatCount="indefinite"></animate><stop offset="0%" stop-color="rgba(0,0,255, 1)"></stop><stop offset="100%" stop-color="rgba(0,0,255, 0)"></stop></radialGradient>
      <radialGradient id="Gradient6" cx="50%" cy="50%" fx="0.981338%" fy="50%" r=".5"><animate attributeName="fx" dur="25.5s" values="0%;5%;0%" repeatCount="indefinite"></animate><stop offset="0%" stop-color="rgba(255,0,0, 1)"></stop><stop offset="100%" stop-color="rgba(255,0,0, 0)"></stop></radialGradient>
      </defs>
      <rect x="13.744%" y="1.18473%" width="100%" height="100%" fill="url(#Gradient1)" transform="rotate(334.41 50 50)"><animate attributeName="x" dur="20s" values="25%;0%;25%" repeatCount="indefinite"></animate><animate attributeName="y" dur="21s" values="0%;25%;0%" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="7s" repeatCount="indefinite"></animateTransform></rect>
      <rect x="-2.17916%" y="35.4267%" width="100%" height="100%" fill="url(#Gradient2)" transform="rotate(255.072 50 50)"><animate attributeName="x" dur="23s" values="-25%;0%;-25%" repeatCount="indefinite"></animate><animate attributeName="y" dur="24s" values="0%;50%;0%" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="rotate" from="0 50 50" to="360 50 50" dur="12s" repeatCount="indefinite"></animateTransform>
      </rect>
      <rect x="9.00483%" y="14.5733%" width="100%" height="100%" fill="url(#Gradient3)" transform="rotate(139.903 50 50)"><animate attributeName="x" dur="25s" values="0%;25%;0%" repeatCount="indefinite"></animate><animate attributeName="y" dur="12s" values="0%;25%;0%" repeatCount="indefinite"></animate><animateTransform attributeName="transform" type="rotate" from="360 50 50" to="0 50 50" dur="9s" repeatCount="indefinite"></animateTransform>
      </rect>
      </svg>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
